<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="keywords" content="任务管理"/>
    <meta name="description" content="任务管理"/>
    <meta name="author" content="xxxxxx" />
    <meta name="site" content="https://www.baidu.com" />
    <title>登陆</title>
    <link th:href="@{/flat_ui/css/vendor/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/flat_ui/css/flat-ui.css}" rel="stylesheet"/>
    <script th:src="@{/libs/jquery-3.2.1.min.js}" type="text/javascript"></script>

    <script type="text/javascript">
        function checkLogin() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            if (username == '' || password == ''){
                alert("用户名和密码不能为空!")
                return;
            }
            var jsonData = {"username":username,"password":password}
            var postJson = JSON.stringify(jsonData);
            $.ajax({
                url:"login/auth",
                type:"post",
                data:postJson,
                dataType: "json",
                contentType:"application/json;charset=utf-8",
                success: function(result) {
                    if(result.code=="100"){
                        if (result.info.result == 'success'){
                            window.location.href='main.shtml';
                        } else {
                            alert("用户名或密码不正确!")
                        }
                    }else{
                        alert("用户名或密码不正确!")
                    }
                }
            });
        }
    </script>
</head>
<body>
<div class="container" style="margin-top: 1%;">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="login">
                <div class="login-screen">
                    <div class="login-icon">
                        <a target="_blank" href="https://www.baidu.com" class="text-warning"><h3>任务</h3></a>
                        <!--<a target="_blank" href="https://www.baidu.com/"><img
                                th:src="@{/flat_ui/img/qiuchang8_qrcode.jpg}"
                                class="img-rounded img-responsive"/></a>-->
                    </div>
                    <div class="login-form">
                        <!-- 这是个假的登录 -->
                        <!-- <form  method="post"> -->
                            <div class="control-group">
                                <input type="text" name="username" class="login-field form-control" id="username"
                                       placeholder="请输入用户名"
                                       required="required" maxlength="255" autocomplete="off"/>
                                <label class="login-field-icon fui-user" for="username"></label>
                            </div>
                            <div class="control-group">
                                <input type="password" name="password" class="login-field form-control" id="password"
                                       placeholder="请输入密码"
                                       required="required" maxlength="255"/>
                                <label class="login-field-icon fui-lock" for="password"></label>
                            </div>

                            <button  class="btn btn-primary btn-large btn-block" onclick="checkLogin()">登陆</button>

                            <span class="text-danger pull-right" style="font-size: 13px;margin-top: 15px;">

                            </span>
                            <a class="login-link" target="_blank" href="https://www.baidu.com">&raquo; 注册</a>
                       <!--  </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>