<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ambition.business.relation.mapper.UserContentMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ambition.business.relation.domain.UserContentMapping">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="content_id" property="contentId" />
        <result column="map_type" property="mapType" />
        <result column="create_time" property="createTime" />
        <result column="content_category_id" property="contentCategoryId" />
        <result column="content_category_name" property="contentCategoryName" />
    </resultMap>

</mapper>
